extend layout

block content
  ul(style="list-style:disc outside; margin-left:20px;")
    #helper
  hr


  //- The template for a story line item
  mixin story(id, hide_id, items_id)
    div(id=id ng-hide=hide_id)
      ul.story(ng-repeat="post in " + items_id + " | filter:searchText")
        li.post
          p
            a.comment-link(href="{{post.url}}" target="_blank") 
              | {{post.title}}
            sup.comment-super
              a.comment-link(href="{{post.comments_link}}", target="_blank") 
                | {{post.site}}

  #top(ng-show="content == 'first'")
    +story("hTop", "hn", "hackerTop")
    +story("lTop", "lobster", "lobTop")
    +story("rTop", "rprog", "rTop")

  #new(ng-show="content == 'other'")
    +story("hNew", "hn", "hackerNew")
    +story("lNew", "lobster", "lNew")
    +story("rNew", "rprog", "rNew")

