extend layout

block content
  ul(style="list-style:disc outside; margin-left:20px;")
    #helper
  hr


  //- The template for a story line item
  mixin story(id, hide_id, items_id)
    div(id=id ng-hide=hide_id)
      ul.story(ng-repeat="post in " + items_id + " | filter:searchText")
        li(id="post")
          p
            a(href="{{post.url}}" style="text-decoration:none" target="_blank") 
              | {{post.title}}
            sup
              a(href="{{post.comments_link}}" style="text-decoration:none" target="_blank") 
                | {{post.site}}

  #top(ng-show="content == 'first'")
    +story("hTop", "hn", "hackerTop")
    +story("lTop", "lobster", "lobTop")
    +story("rTop", "rprog", "rTop")

  #new(ng-show="content == 'other'")
    +story("hNew", "hn", "hackerNew")
    +story("lNew", "lobster", "lNew")
    +story("rNew", "rprog", "rNew")

